{%load static%}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bs-theme-overrides.css' %}">
    <link rel="stylesheet" href="{% static '/css/untitled-1.css' %}">
    <link rel="stylesheet" href="{% static '/css/untitled.css' %}">
</head>


    <body id="page-top">
        <div id="wrapper">
            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    <nav class="navbar navbar-expand bg-white shadow flex-xl-grow-1 mb-4 topbar static-top navbar-light justify-content-cente">
                        <div class="container-fluid">
                            <ul class="navbar-nav flex-fill justify-content-center align-items-center align-content-center align-self-center justify-content-center align-content-stretch align-items-center">
                                <li class="nav-item dropdown no-arrow">
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link end-10" aria-expanded="false" data-bs-toggle="dropdown" href="#"><img class="border rounded-circle img-profile" src="{% static '/img/avatars/avatar1.jpeg' %}"><span class="d-lg-inline me-2 text-gray-600 small">{{username}}</span></a>
                                        <div class="dropdown-menu shadow dropdown-menu-sm-start animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown no-arrow mx-1">
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" ><span class="badge bg-danger badge-counter">3+</span><img src="{% static '/img/Icones/sino.png' %}" style="width:35px;"></a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                            <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="me-3">
                                                    <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-black"></i></div>
                                                </div>
                                                <div><span class="small text-gray-500">December 12, 2019</span>
                                                    <p>A new monthly report is ready to download!</p>
                                                </div>
                                            </a><a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="me-3">
                                                    <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                                </div>
                                                <div><span class="small text-gray-500">December 7, 2019</span>
                                                    <p>$290.29 has been deposited into your account!</p>
                                                </div>
                                            </a><a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="me-3">
                                                    <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                                </div>
                                                <div><span class="small text-gray-500">December 2, 2019</span>
                                                    <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                                </div>
                                            </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown no-arrow mx-1">
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" ><span class="badge bg-danger badge-counter">7</span><img src="{% static '/img/Icones/mensagem.png' %}" style="width:35px;"></a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                            <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="dropdown-list-image me-3"><img class="rounded-circle" src="{% static '/img/avatars/avatar4.jpeg' %}">
                                                    <div class="bg-success status-indicator"></div>
                                                </div>
                                                <div class="fw-bold">
                                                    <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                    <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                                </div>
                                            </a><a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="dropdown-list-image me-3"><img class="rounded-circle" src="{% static '/img/avatars/avatar2.jpeg' %}">
                                                    <div class="status-indicator"></div>
                                                </div>
                                                <div class="fw-bold">
                                                    <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                    <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                                </div>
                                            </a><a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="dropdown-list-image me-3"><img class="rounded-circle" src="{% static '/img/avatars/avatar3.jpeg' %}">
                                                    <div class="bg-warning status-indicator"></div>
                                                </div>
                                                <div class="fw-bold">
                                                    <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                    <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                                </div>
                                            </a><a class="dropdown-item d-flex align-items-center" href="#">
                                                <div class="dropdown-list-image me-3"><img class="rounded-circle" src="{% static '/img/avatars/avatar5.jpeg' %}">
                                                    <div class="bg-success status-indicator"></div>
                                                </div>
                                                <div class="fw-bold">
                                                    <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                    <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                                </div>
                                            </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                        </div>
                                    </div>
                                    <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                                </li>
                                <div class="d-none d-sm-block topbar-divider"></div>
                                <li class="nav-item dropdown no-arrow">
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link mx-xl-2 star-0" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="overflow-x: auto;"><span class="d-lg-inline me-2 text-gray-600 small">lvl {{ user_experience.level }}</span><img class="border rounded-circle img-profile" src="{% static '/img/avatars/avatar1.jpeg' %}"></a>
                                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="mb-4"
                    style="background: url(&quot;{% static '/img/inspiracao/9285000.jpg' %}&quot;);margin-bottom: -51px;padding-bottom: 0px;">
                        <div class="card shadow border-start-primary py-2" style="background: none;border-style: none;">
                            <div class="card-body" style="color: rgba(133,135,150,0);">
                                <div class="row align-items-center no-gutters">
                                    <div class="col container-fluid" style="background: var(--bs-tertiary-color);padding: .5;padding-top: 5px;margin-top: -2px;">
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-primary-bg-subtle);padding: 0.5px;padding-top: 0px;margin-top: 12px;margin-bottom: 2px;">Frase do dia</span></div>
                                        <div class="text-dark fw-bold h5 mb-0" style="color: var(--bs-gray-700);"><span style="margin: 0.5px;margin-top: 0.5px;padding-top: 0px;"><br><span style="font-weight: normal !important; color: rgb(13, 13, 13);">{{ quote_data.content }} - {{ quote_data.originator.name }}</span><br><br></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mb-2">
                        <div class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-dark mb-0">O Teu Dia!</h3>
                        </div>
                        <div class="row">
                            <div class="col col-md-12 col-xl-12 mb-4">
                                <div class="card shadow border-start-info py-0" style="margin: 0px;margin-top: -14px;">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-info text-xs mb-1"><span>Atividade Fisica</span></div>
                                                <div class="row g-0 align-items-center">
                                                    <div class="col-auto">
                                                        <div class="fw-bold text-dark h5 mb-0 me-3"><span class="fs-6" style="font-size: 16;">Tipo de atividade</span>
                                                            <div class="col"><small class="form-text fs-6 fw-light">tempo&nbsp; executado</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto"><svg class="bi bi-stopwatch-fill" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 16 16">
            <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584l.013-.012.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354-.012.012A6.97 6.97 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0"></path>
        </svg></div>
                                            <div class="col">
                                                <div class="progress progress-sm" style="width: 258px;margin-left: 13px;margin-top: 9px;">
                                                    <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%;"><span class="visually-hidden">50%</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6 col-xl-5 mb-4">
                                <div class="card shadow border-start-info py-0" style="margin: 0px;margin-top: -14px;"><div class="card-body">
        <div class="row align-items-center no-gutters">
            <div class="col me-2">
                <div class="text-uppercase fw-bold text-info text-xs mb-1"><span>Tarefas diárias</span></div>
                <div class="row g-0 align-items-center">
                    <div class="col-auto">
                        <div class="fw-bold text-dark h5 mb-0 me-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-auto"><svg class="bi bi-clipboard-heart" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"></path>
                    <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2"></path>
                    <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982"></path>
                </svg></div>
            <div class="col">
                <div class="progress progress-sm" style="width: 258px;margin-left: 13px;margin-top: 9px;margin-bottom: 9px;">
                    <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="visually-hidden">50%</span></div>
                </div>
                <div class="card shadow mb-4" style="margin-bottom: 57px;">
                    <div class="card-header py-3" style="margin-bottom: -5px;">
                        <h6 class="text-primary fw-bold m-0">Tarefas do Dia</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h6 class="mb-0"><strong>Almoço low carb</strong></h6><span class="text-xs">800calorias</span>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check"><input id="formCheck-1" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-1"></label></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h6 class="mb-0"><strong>Atividade fisica</strong></h6><span class="text-xs">caminhada 30 min</span>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check"><input id="formCheck-2" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-2"></label></div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h6 class="mb-0"><strong>Lanche nutritivo</strong></h6><span class="text-xs"></span>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-3"></label></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div></div>
                            </div>
                            <div class="col-md-6 mb-2 col-xl-7">
                                <div class="card shadow border-start-info py-0 mb-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-info text-xs mb-1"><span>Atividade Fisica</span></div>
                                                <div class="row g-0 align-items-center">
                                                    <div class="col-auto">
                                                        <div class="fw-bold text-dark h5 mb-0 me-3"><span class="fs-6" style="font-size: 16;">Tipo de atividade</span>
                                                            <div class="col"><small class="form-text fs-6 fw-light">tempo&nbsp; executado</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto"><svg class="bi bi-stopwatch-fill" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 16 16">
            <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584l.013-.012.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354-.012.012A6.97 6.97 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0"></path>
        </svg></div>
                                            <div class="col-6">
                                                <div class="progress progress-sm" style="margin-left: -7px;margin-right: -23px;">
                                                    <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%;"><span class="visually-hidden">50%</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow border-start-info py-0 mb-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-info text-xs mb-1"><span>Atividade Fisica</span></div>
                                                <div class="row g-0 align-items-center">
                                                    <div class="col-auto">
                                                        <div class="fw-bold text-dark h5 mb-0 me-3"><span class="fs-6" style="font-size: 16;">Tipo de atividade</span>
                                                            <div class="col"><small class="form-text fs-6 fw-light">tempo&nbsp; executado</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto"><svg class="bi bi-stopwatch-fill" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 16 16">
            <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584l.013-.012.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354-.012.012A6.97 6.97 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0"></path>
        </svg></div>
                                            <div class="col-6">
                                                <div class="progress progress-sm" style="margin-left: -7px;margin-right: -23px;">
                                                    <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%;"><span class="visually-hidden">50%</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow border-start-info py-0">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase fw-bold text-info text-xs mb-1"><span>Atividade Fisica</span></div>
                                                <div class="row g-0 align-items-center">
                                                    <div class="col-auto">
                                                        <div class="fw-bold text-dark h5 mb-0 me-3"><span class="fs-6" style="font-size: 16;">Tipo de atividade</span>
                                                            <div class="col"><small class="form-text fs-6 fw-light">tempo&nbsp; executado</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto"><svg class="bi bi-stopwatch-fill" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 16 16">
            <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584l.013-.012.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354-.012.012A6.97 6.97 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0"></path>
        </svg></div>
                                            <div class="col-6">
                                                <div class="progress progress-sm" style="margin-left: -7px;margin-right: -23px;">
                                                    <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%;"><span class="visually-hidden">50%</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-">
                            <div class="col d-flex flex-fill justify-content-center align-items-center align-content-center col-12 justify-content-center" style="margin-bottom: 55px;">
                                <div class="carousel slide d-flex flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center align-self-center justify-content-center align-content-stretch align-items-center" data-bs-ride="false" id="carousel-2">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="card shadow border-start-success py-2" style="margin: 6px;">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase fw-bold text-success text-xs mb-1"><span>Pequeno-Almoço</span></div>
                                                            <div class="text-uppercase fw-bold text-success text-xs mb-1"></div>
                                                            <div class="fw-bold text-dark h5 mb-0"><span style="font-size:12px;"><span style="font-weight:normal;color:rgb(13, 13, 13);">Iogurte grego natural com granola e uma colher de chá de mel.</span><br><br></span></div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <picture><img src="{% static '/img/comida/top-view-breakfast-bowl-table.jpg' %}" style="width:80px;"></picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card shadow border-start-success py-2">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase fw-bold text-success text-xs mb-1"><span>Almoço</span></div>
                                                            <div class="text-uppercase fw-bold text-success text-xs mb-1"></div>
                                                            <div class="fw-bold text-dark h5 mb-0"><span style="font-size:12px;"><span style="font-weight:normal;color:rgb(13, 13, 13);">Wrap integral com peito de peru, queijo cottage, alface, tomate, mangerição, salsa, coentros,...</span><br><br></span></div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <picture><img src="{% static '/img/comida/wrap.jpg' %}" style="width:80px;"></picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item col-md-6 col-xl-3 col-sm-4">
                                            <div class="card shadow border-start-success py-2">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col me-2">
                                                            <div class="text-uppercase fw-bold text-success text-xs mb-1"><span>Jantar</span></div>
                                                            <div class="text-uppercase fw-bold text-success text-xs mb-1"></div>
                                                            <div class="fw-bold text-dark h5 mb-0"><span style="font-size:12px;"><span style="font-weight:normal;color:rgb(13, 13, 13);">Quiche de legumes integrais (como abobrinha, tomate, espinafres ...</span><br><br></span></div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <picture><img src="{% static '/img/comida/quiche.jpg' %}" style="width:80px;"></picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev" style="color: var(--bs-primary-text-emphasis);"><span aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span aria-hidden="true"></span><span class="visually-hidden">Next</span></a></div>
                                    <div class="carousel-indicators my-0" style="color: var(--bs-primary-text-emphasis);"><button type="button" data-bs-target="#carousel-2" data-bs-slide-to="0" class="active" style="color: var(--bs-primary-text-emphasis);"></button> <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="2"></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills nav-fill bg-body-tertiary nav-tab rounded-0 fixed-bottom border-top" id="bottom-nav-2" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="active nav-link" id="bottom-home-2" aria-label="home" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" style="background:var(--bs-primary-text-emphasis);">
                    <img src="{% static '/img/Icones/casa.png' %}" style="width:35px;" href="home.html">
                    <span class="d-none">Home</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button id="bottom-radar-4" class="nav-link" aria-label="radar" data-bs-toggle="tab" data-bs-target="#radar" type="button" role="tab" >
                    <a href="water">
                        <img src="{% static '/img/Icones/agua.png' %}" style="width:35px;">
                    </a>
                    <span class="d-none">New</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button id="bottom-radar-5" class="nav-link" aria-label="radar" data-bs-toggle="tab" data-bs-target="#radar" type="button" role="tab" >
                    <a href="water">
                        <img src="{% static '/img/Icones/comida.png' %}" style="width:35px;">                
                    </a>
                    <span class="d-none">New</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button id="bottom-radar-6" class="nav-link" aria-label="radar" data-bs-toggle="tab" data-bs-target="#radar" type="button" role="tab">
                    <a href="water">
                        <img src="{% static '/img/Icones/peso.png' %}" style="width:45px;">
                    </a>
                    <span class="d-none">New</span>
                </button>
            </li>
        </ul>
        <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/js/theme.js' %}"></script>
    </body>
    
    </html>