{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Farming Habits</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <style>
        .login-bg {
            background: linear-gradient(#203E32, #1BAF5D);
        }
        .bt-login {
            background-color: #203E32;
        }
    </style>
</head>

<body class="login-bg ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm- col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 d-lg-flex d-sm-flex">
                                <img class="img-fluid" src="{% static '/img/FarmingHabits.png' %}" alt="Generic placeholder image">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Seja bem vindo!</h4>
                                    </div>
                                    <h2>Regista a tua conta</h2>
                                    <form method="POST">
                                        {% csrf_token %}
                                        {% if form.non_field_errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for error in form.non_field_errors %}
                                            {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <div class="mb-3">
                                            <label for="id_username" class="form-label">Username:</label>
                                            {{ form.username }}
                                            {% if form.username.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {% for error in form.username.errors %}
                                                {{ error }}
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            <label for="id_email" class="form-label">Email:</label>
                                            {{ form.email }}
                                            {% if form.email.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {% for error in form.email.errors %}
                                                {{ error }}
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            <label for="id_password1" class="form-label">Password:</label>
                                            {{ form.password1 }}
                                            {% if form.password1.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {% for error in form.password1.errors %}
                                                {{ error }}
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            <label for="id_password2" class="form-label">Confirmação password:</label>
                                            {{ form.password2 }}
                                            {% if form.password2.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {% for error in form.password2.errors %}
                                                {{ error }}
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <button type="submit" class="btn btn-primary d-block btn-user w-100" style="background-color: #203E32;">Registar</button>
                                    </form>
                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                            <label class="form-check-label" for="invalidCheck">
                                                Concordo com os <a href="#">Termos e Condições</a>
                                            </label>
                                            <div class="invalid-feedback">
                                                Deve concordar antes de enviar.
                                            </div>
                                        </div>
                                    </div>
                                    <h4> Já tem uma conta criada? <a
                                        href="/accounts/login">Login</a></h4>
                                <script
                                    src="{% static 'bootstrap/js/bootstrap.min.js' %} "
                                    ></script>
                                <script
                                    src="{% static 'js/bs-init.js' %}" ></script>
                                <script
                                    src="{% static 'js/theme.js' %}"></script>
                                {% if redirect %}
                                <script>
                                    function redirect(){       window.location.href = "{% url 'login' %}";
                                    }

                                    setTimeout(redirect, 3000);
                                </script>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
</body>

</html>
