
<!-- chamar os detalhes e imagem da planta selecionada com o "for" -->

<!--    
{% for plant in plants %}
    <h2>{{ plant.name }}</h2>
    <p>Stage: {{ plant.stage }}</p>
    {% if plant.image %}
        <img src="{{ plant.image.url }}" alt="{{ plant.name }} - Stage {{ plant.stage }}">
    {% endif %}
{% endfor %}
-->




<!-- chamar a imagem do tipo E stage da planta certo -->

<!--
<img src="{% static 'images/stage' %}{{ plant.stage }}{{ plant.type }}.jpg" alt="{{ plant.name }} - Stage {{ plant.stage }}">
-->