:root, [data-bs-theme=light] {
  --bs-primary: #038C25;
  --bs-primary-rgb: 3,140,37;
  --bs-primary-text-emphasis: #01380F;
  --bs-primary-bg-subtle: #CDE8D3;
  --bs-primary-border-subtle: #9AD1A8;
  --bs-secondary: #155903;
  --bs-secondary-rgb: 21,89,3;
  --bs-secondary-text-emphasis: #082401;
  --bs-secondary-bg-subtle: #D0DECD;
  --bs-secondary-border-subtle: #A1BD9A;
  --bs-success: #144008;
  --bs-success-rgb: 20,64,8;
  --bs-success-text-emphasis: #081A03;
  --bs-success-bg-subtle: #D0D9CE;
  --bs-success-border-subtle: #A1B39C;
  --bs-info: #96D952;
  --bs-info-rgb: 150,217,82;
  --bs-info-text-emphasis: #3C5721;
  --bs-info-bg-subtle: #EAF7DC;
  --bs-info-border-subtle: #D5F0BA;
  --bs-link-color: #155903;
  --bs-link-color-rgb: 21,89,3;
  --bs-link-hover-color: #144008;
  --bs-link-hover-color-rgb: 20,64,8;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #038C25;
  --bs-btn-border-color: #038C25;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #299D46;
  --bs-btn-hover-border-color: #1C983B;
  --bs-btn-focus-shadow-rgb: 0,21,6;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #35A351;
  --bs-btn-active-border-color: #1C983B;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #038C25;
  --bs-btn-disabled-border-color: #038C25;
}

.btn-outline-primary {
  --bs-btn-color: #038C25;
  --bs-btn-border-color: #038C25;
  --bs-btn-focus-shadow-rgb: 3,140,37;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #038C25;
  --bs-btn-hover-border-color: #038C25;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #038C25;
  --bs-btn-active-border-color: #038C25;
  --bs-btn-disabled-color: #038C25;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #038C25;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #155903;
  --bs-btn-border-color: #155903;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #124C03;
  --bs-btn-hover-border-color: #114702;
  --bs-btn-focus-shadow-rgb: 220,230,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #114702;
  --bs-btn-active-border-color: #104302;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #155903;
  --bs-btn-disabled-border-color: #155903;
}

.btn-outline-secondary {
  --bs-btn-color: #155903;
  --bs-btn-border-color: #155903;
  --bs-btn-focus-shadow-rgb: 21,89,3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #155903;
  --bs-btn-hover-border-color: #155903;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #155903;
  --bs-btn-active-border-color: #155903;
  --bs-btn-disabled-color: #155903;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #155903;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #144008;
  --bs-btn-border-color: #144008;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #113607;
  --bs-btn-hover-border-color: #103306;
  --bs-btn-focus-shadow-rgb: 220,226,218;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #103306;
  --bs-btn-active-border-color: #0F3006;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #144008;
  --bs-btn-disabled-border-color: #144008;
}

.btn-outline-success {
  --bs-btn-color: #144008;
  --bs-btn-border-color: #144008;
  --bs-btn-focus-shadow-rgb: 20,64,8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #144008;
  --bs-btn-hover-border-color: #144008;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #144008;
  --bs-btn-active-border-color: #144008;
  --bs-btn-disabled-color: #144008;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #144008;
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: #96D952;
  --bs-btn-border-color: #96D952;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #A6DF6C;
  --bs-btn-hover-border-color: #A1DD63;
  --bs-btn-focus-shadow-rgb: 23,33,12;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ABE175;
  --bs-btn-active-border-color: #A1DD63;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #96D952;
  --bs-btn-disabled-border-color: #96D952;
}

.btn-outline-info {
  --bs-btn-color: #96D952;
  --bs-btn-border-color: #96D952;
  --bs-btn-focus-shadow-rgb: 150,217,82;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #96D952;
  --bs-btn-hover-border-color: #96D952;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #96D952;
  --bs-btn-active-border-color: #96D952;
  --bs-btn-disabled-color: #96D952;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #96D952;
}

